<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy. HH:mm:ss} %-5p [%-20c{1}] %m%n" />
        </Console>
        <RollingFile name="EntryPointFile" fileName="./entry-point.log" append="true" filePattern="./entry-point.log.%i">
            <PatternLayout pattern="%d{dd.MM.yyyy. HH:mm:ss} | %-5p | [%-20c{1}] | %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="PermissionServiceFile" fileName="./permission-service.log" append="true" filePattern="./permission-service.log.%i">
            <PatternLayout pattern="%d{dd.MM.yyyy. HH:mm:ss} | %-5p | [%-20c{1}] | %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="marketing.management.system.security.RestAuthenticationEntryPoint" level="info" additivity="false">
            <AppenderRef ref="EntryPointFile"/>
        </Logger>
        <Logger name="marketing.management.system.exception.ControllerExceptionHandler" level="info" additivity="false">
            <AppenderRef ref="PermissionServiceFile"/>
        </Logger>
        <Logger name="marketing.management.system.service.implementations.PermissionServiceImpl" level="info" additivity="false">
            <AppenderRef ref="PermissionServiceFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" level="info" />
        </Root>
    </Loggers>
</Configuration>